html {
  background: linear-gradient( 60deg, #0099CC 20%, #003366 80%);
}

#corpo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -230px 0 0 -165px;
  padding: 30px 20px;
}

#visor {
  font-size: 20px;
  background: #04a9cf;
  margin: 25px 0 25px 0;
  padding: 0px 50px 0px 10px;
  text-align: end;
  height: 12%;
}

#apagar{
  width: 200%;
}

#divisao {
  width: 80%;
  margin-left: 210%;
}

#zero {
  margin-left: -100%;
  width: 200%;
}

button{
  background: linear-gradient( 15deg, #028bb9 10%, #0969a0 50%);
  font-size: 18px;
}

#teclado {
  background: linear-gradient( 270deg, #17437c 40%, #09c1ff 130%);
  display: grid;
  justify-content: space-around;
  align-content: space-around;
  grid-template-columns: 25% 25% 25% 20%;
  grid-template-rows: 18% 18% 18% 18% 18%;
  padding: 20px 5px 10px;
  height: 70%;
}
.button0 {
  width: 1px;
  opacity: 0;
}

.css-base {
  border: solid 3px #00DCDC;
  border-radius: 20px;
}

.css-button {
  border: solid 3px #00DCDC;
  border-radius: 20px;
}
